<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h6 class="copywrite-text">{{'footer.copyright'|translate}}</h6>
            </div>
            <div class="col-md-6 text-center">
                <ul class="footer-list">
                    <li>
                        <a href="#">{{'footer.terms'| translate}}</a>
                    </li>
                    <li> | </li>
                    <li>
                        <a href="#">{{'footer.privacy'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>